:root {
    --content-primary: rgb(46, 71, 86);
    --content-secondary: rgb(86, 131, 159);
    --content-alert: rgb(255, 64, 0);
    --background: rgb(235, 255, 254);
    --code-background: rgb(230, 233, 239);
    --code-border: rgb(188, 192, 204);
}

/* effectively no dark mode */
.dark {
    --content-primary: rgb(46, 71, 86);
    --content-secondary: rgb(86, 131, 159);
    --content-alert: rgb(255, 64, 0);
    --background: rgb(235, 255, 254);
    --code-background: rgb(230, 233, 239);
    --code-border: rgb(188, 192, 204);
}