:root {
    --content-primary: rgb(46, 71, 86);
    --content-secondary: rgb(86, 131, 159);
    --background: rgb(235, 255, 254);
    --code-background: rgb(230, 233, 239);
    --code-border: rgb(188, 192, 204);
}

.dark {
    /* --content-primary: rgb(198, 208, 245); */
    --content-primary: rgb(235, 255, 254);
    /* --content-secondary: rgb(165, 173, 206); */
    --content-secondary: rgb(86, 131, 159);
    /* --background: rgb(48, 52, 70); */
    --background: rgb(46, 71, 86);
    --code-background: rgb(41, 44, 60);
    --code-border: rgb(81, 87, 109);
}