/* Place custom css here */

.header {
    background-image: url("/logo-wide-150px.png") ;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 150px;
    margin-top: 10px;
}

.flex {
    border-top: 3px solid var(--content-secondary);
    border-bottom: 1px solid var(--content-secondary);
}

.img-wrapright img {
    float: right;
    margin-left: 10px;
}

.title-tags {
    font-size: 60%;
    font-weight: bold;
    color: var(--content-alert);
}

.single-readtime {
    font-size: 80%;
}
