/* Place custom css here */

/* :root {
    --main-width: 1024px;
} */

.header {
    background-image: url("/logo-wide-150px.png") ;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 150px;
    margin-top: 10px;
}
.flex {
    border-top: 4px solid #56839F;
    border-bottom: 2px solid #56839F;
}

.img-wrapright img {
    float: right;
    margin-left: 10px;
    /* margin-right: auto; */
    /* height: auto; */
}

